* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------------- التكليف 01 ---------------------*//*--------------------- التكليف 01 ---------------------*/
div.main.red {
    color: red;
}

/*--------------------- التكليف 02 ---------------------*//*--------------------- التكليف 02 ---------------------*/
.parent div:nth-child(2) {
    color:red;
}

/*--------------------- التكليف 03 ---------------------*//*--------------------- التكليف 03 ---------------------*/
.parentt .baby:only-child {
    color:red;
}

/*--------------------- التكليف 04 ---------------------*//*--------------------- التكليف 04 ---------------------*/
[title]:not(.no-need, .parent div[title]){
    color: red;
}
