/*--------------------- التكليف 01 ---------------------*/
.shape-1,
.shape-2,
.shape-3 {
    background-color:darkgray;
    display: inline-block;
    outline: 5px solid black;
    padding: 16px;
    margin: 10px;
}

.shape-1 {
    border: 5px solid red;
}

.shape-2 {
    border-top: 5px solid blue ;
    border-bottom: 5px solid blue ;
    border-right: 5px solid green ;
    border-left: 5px solid green ;
}

.shape-3 {
    border-top: 5px dashed red;
    border-bottom: 5px dashed blue;
    border-right: 5px dashed green;
    border-left: 5px dashed yellow;
}


/*--------------------- التكليف 02 ---------------------*/
.parent-1,
.parent-2,
.parent-3 {
    background-color: #a9a9a942;
    width: 400px;
    padding: 10px 16px;
}

.parent-2 {
    visibility: hidden;
}

h2 {
    padding: 16px 10px;
    margin: 0;
}

.child-1 {
    border-left: #E91E63  solid 8px;
}

.child-3 {
    border-left: rgb(51, 153, 153) solid 8px;
}

