/*--------------------- التكليف 01 ---------------------*/
.parent .child .title {
    color: red;
}
.parent .title{
    color: blue;
}

.title, p{
    color: green
}


/*--------------------- التكليف 02 ---------------------*/
.title-2 {
    background-color: rgb(105, 15, 15);
    max-width: 400px;
    max-height: 30px;
    width: fit-content ;
    padding: 15px;
    margin: 10px 0;
    color: white;
    overflow: hidden;
}